[2022-08-18 13:32] hellwolf opened #1039 "[ETHEREUM-CONTRACTS] ]add gov wrapper function for creating registration keys"
To be clarified.

[2022-08-20 14:23] #918 closed, assigned to nobody

[2022-08-20 14:41] mikeghen opened #1042 "[BUG] ./build-and-test.sh, error Your lockfile needs to be updated"
**Describe the bug:**
I get an error running `build-and-test.sh` in this example: https://github.com/superfluid-finance/protocol-monorepo/tree/dev/examples/stream-in-distribute-out

**Environment:**

iMac

**Steps To Reproduce:**
[code]
Since that didn't work I tried to just `yarn install`, which works but then I get this error running `yarn test`:
[code]

**Expected behavior:**
`./build-and-test.

[2022-08-25 11:58] hellwolf commented on #737
## Overview of Superfluid Money Distribution

### Denotational Payment Semantics and Organization of Agreements

The denotational semantics[^1] of payment in the _Superfluid Money Distribution_ is organized into a collection of primitives called "agreement".  These classes of agreements is further organized into "indexes", where their availability to the bearers are quantified. E.g. universal inde

[2022-08-25 13:00] #1007 closed, assigned to 0xdavinchee

[2022-08-25 13:02] hellwolf commented on #620
https://github.com/rkalis/truffle-plugin-verify/releases/tag/v0.5.27
https://github.com/rkalis/truffle-plugin-verify/releases/tag/v0.5.28

released since.

[2022-08-25 13:02] #620 closed

[2022-08-25 13:02] hellwolf commented on #873
we are happy with current process for now: https://github.com/superfluid-finance/protocol-monorepo/wiki/Dev-Process%3A-Branch-Policy

[2022-08-25 13:02] #873 closed, assigned to elvijsTDL

[2022-08-25 13:04] hellwolf commented on #1042
Hey Mike, thanks for reporting.

You should try https://github.com/superfluid-finance/super-examples/tree/main/examples/stream-in-distribute-out , we moved everything there. If appropriate, clone this ticket there!

[2022-08-25 13:04] #1042 closed, assigned to nobody

[2022-08-30 13:02] 0xdavinchee commented on #1039
pretty sure https://github.com/superfluid-finance/protocol-monorepo/pull/1049 addresses this issue

[2022-08-30 13:02] #1039 closed, assigned to nobody

[2022-08-30 15:07] hellwolf commented on #478
@0xdavinchee

[2022-08-30 15:08] hellwolf commented on #319
do we still want to promote open source in this case? @d10r

[2022-08-30 15:31] hellwolf commented on #534
@0xdavinchee include this in the refactoring list

[2022-08-30 15:33] hellwolf commented on #898
Now that we have gnosisscan, we will rethink our open-source support of blockscout for now.

[2022-08-30 15:33] #898 closed, assigned to d10r

[2022-08-30 15:50] #915 closed, assigned to d10r

[2022-08-30 15:50] hellwolf commented on #915
solved by https://github.com/superfluid-finance/protocol-monorepo/pull/1049

[2022-08-31 11:05] #686 closed, assigned to 0xdavinchee

[2022-08-31 13:42] hellwolf opened #1061 "[ETHEREUM-CONTRACTS] Address yAcademy Report Issues"
TBD.

References
=======

- https://github.com/superfluid-finance/protocol-monorepo/issues/1007

[2022-09-05 09:46] hellwolf opened #1071 "[ETHEREUM-CONTRACTS] Move TOGA contract to toga-suit"
TOGA belongs to https://github.com/superfluid-finance/toga-suit, let's move it there.

## Notes

Consider to use foundry as its development environment instead.

[2022-09-06 15:43] 0xdavinchee commented on #1061
this can be closed: https://github.com/superfluid-finance/protocol-monorepo/issues/1007

[2022-09-06 15:43] #1061 closed, assigned to nobody

[2022-09-08 19:40] hellwolf commented on #1036
please update this @0xdavinchee

[2022-09-08 20:56] hellwolf commented on #738
![image](https://user-images.githubusercontent.com/186660/189224301-0448d6d4-53f4-4c81-8bda-39e31eee1671.png)

[2022-09-08 20:56] hellwolf commented on #738
![image](https://user-images.githubusercontent.com/186660/189224329-44397030-830b-4885-8e0b-a63270a5b68e.png)

[2022-09-09 07:17] hellwolf commented on #972
Didi
  [18:35](https://superfluidhq.slack.com/archives/D02BZ6QF05U/p1661873709221659)
no, bcs the CFA forwarder ended up not being a forwarder itself, but just use that protocol feature. Which makes me think that "forwarder" may not be the best name for it (too focused on internal architecture vs what it is/does from an outside perspective), will see if I can find a better one.

[2022-09-09 07:17] #972 closed, assigned to d10r

[2022-09-09 14:02] d10r opened #1079 "Upgrade to ethereum-contracts 1.4"
Upgrade to [v1.4.0](https://github.com/superfluid-finance/protocol-monorepo/releases/tag/ethereum-contracts%40v1.4.0)

**Steps**
1. Run workflow
* Go to https://github.com/superfluid-finance/protocol-monorepo/actions, click "Deploy to Networks" (to be renamed to "Deploy to Mainnet")
* Click "Run workflow"
* set network name (canonical name)
* click "Run workflow"
* Wait for it to succeed
2. Verify

[2022-09-19 12:30] hellwolf commented on #1079
Avalance C-Chain contracts upgraded: https://snowtrace.io/tx/0x567212ccaad53afe58b5e2169c710303c26771f9b3859f44e7d0407fce7b1322

[2022-09-19 12:37] hellwolf commented on #1079
Polygon contracts upgraded: https://polygonscan.com/tx/0x8a026e5d271bc79eb3c95134e41f1aa22942b4122da42f77985d9edc7f2af916

[2022-09-19 12:42] hellwolf commented on #1079
xDAI contracts upgraded: https://gnosisscan.io/tx/0x06d0034977fb2bdfdb81644d3c3a2b3f46fad6fec1222f5d3a47d09ca3ae3cea

[2022-09-19 12:49] hellwolf commented on #1079
Optimism contracts upgraded: https://optimistic.etherscan.io/tx/0xa502b11b5e874deec6e9946f29a460b761102b6eeafe3f04bec7ed28e7f9895f

[2022-09-19 12:53] hellwolf commented on #919
to be tracked in: https://github.com/superfluid-finance/protocol-monorepo/issues/1079

[2022-09-19 12:53] #919 closed, assigned to d10r

[2022-09-19 12:55] hellwolf commented on #1079
Arbitrum contracts upgraded: https://arbiscan.io/tx/0xcddd1e923d8f12dc4124cd9ad6b6d23db113d4d22b0acb554a480ed609d4eb3e

[2022-09-19 17:14] hellwolf commented on #739
Update:

## Financial System

In order to define solvency models, we need to first define a financial system model where payment semantics are executed. A minimum financial system functioning on the monetary distribution could formally defined as such:

![image](https://user-images.githubusercontent.com/186660/191065322-fdf331ae-123f-4fb1-a13e-4f62335a11e8.png)

where:

- MD, monetary distribution

[2022-09-19 21:49] d10r commented on #1079
new governance logic deployed on all networks and verified on all networks except Arbitrum (fails). Multisig tx to be confirmed and executed on all networks except Optimism and Avalanche (already done).

[2022-09-20 07:50] d10r commented on #1079
## CFAv1Forwarder

Deployed to 0xCfA1E187C9141B8bA90a436CB789017FA573d051 on all networks.

### testnets

[code]

Example tx creating a flow using `setFlowrate`: https://testnet.snowtrace.io/tx/0xcb283974a63b63a1a8e7b76e3dd317bf50b4e5236b3811a912bbf21f1b46632d

### mainnets

[code]

[2022-09-20 08:57] hellwolf commented on #1079
BSC gov updated: https://bscscan.com/tx/0x60807c18fe71bf8bed005035da1fb1bb4e4535edeb20ec0c280ec583b2052ceb

BSC agreement forwarder trusted: https://bscscan.com/tx/0xb6fcb8025e1f645b6c6ca82cdd4419b1e948643bffb1335d79d02f09a1c767e6

[2022-09-20 08:59] hellwolf commented on #1079
Ava agreement forwarder trusted:

- https://snowtrace.io/tx/0x7270da75a6c6dbc8c42be82da2af805367e587cd377df8fd2e1abd6d9b0466bc
- https://snowtrace.io/address/0xcfa1e187c9141b8ba90a436cb789017fa573d051#writeContract

[2022-09-20 09:02] hellwolf commented on #1079
Gnosis Chain New Governance Upgraded:

- https://gnosisscan.io/address/0xcf3f4fa77f4427f6a1c1a96556194b40fc9dbf02#code
- approval: https://blockscout.com/xdai/mainnet/tx/0x0f6182ac28fcdf95c3d8d91695a800bbce1bbbb919baabbe713123fa282f13be

[2022-09-20 09:03] hellwolf commented on #1079
Gnosis Chain Trusted Forwarder Enabled:

- https://gnosisscan.io/address/0xcfa1e187c9141b8ba90a436cb789017fa573d051
- approval: https://blockscout.com/xdai/mainnet/tx/0x3d1151c3279c36a45b3a02715753b9193132ce6003d23d11bc036a2e560e9dd4

[2022-09-20 09:10] hellwolf commented on #1079
Polygon governance code upgrade:

- https://polygonscan.com/address/0xad0a83ef63a4cb62631c23bde5d52b29ab0bd6af#code
- approval: https://polygonscan.com/tx/0x8b42c9464ad0ede4ec13721681e88b014104fcf4123146f19c40088214d6a579

[2022-09-20 09:12] hellwolf commented on #1079
Polygon CFAv1Forwarder enabling trusted forwarder:

- https://polygonscan.com/address/0xcfa1e187c9141b8ba90a436cb789017fa573d051#code
- approval: https://polygonscan.com/tx/0xa9a49b553cb90b986d026bc0ea546d194ef768448b55d3c453600c4bb12e69f5

[2022-09-20 09:23] hellwolf commented on #1079
Optimism cfa agreement forwarder trusted forwarder:

- https://optimistic.etherscan.io/address/0xcfa1e187c9141b8ba90a436cb789017fa573d051#code
- approval: https://optimistic.etherscan.io/tx/0x9ec7d4f61a601abe20c85de688dbd37b0b998bce30d4b78f07884d91e97e5489

[2022-09-20 09:24] hellwolf commented on #1079
Arbitrum Governance Upgrade (source not verified, only bytecode matching) :

- https://arbiscan.io/address/0x87e00dced5670e01bee33a9a724b1dac790937ef
- approval: https://arbiscan.io/tx/0x655c8b02c4b7fedb934f5393b3c1f6bf8d696598108aed5905ccdb3187c4efe6

[2022-09-20 09:24] hellwolf commented on #1079
Arbitrum cfa trusted forwarder trusted (source not verified, only bytecode matching) :

- https://arbiscan.io/address/0xcfa1e187c9141b8ba90a436cb789017fa573d051#code
- approval https://arbiscan.io/tx/0x58aafec42d28b776af045f1bed1023dabe33e53ff4812890d37c2e19c1d46b90

[2022-09-20 09:27] hellwolf commented on #817
further being worked on in https://github.com/superfluid-finance/protocol-monorepo/pull/1076

[2022-09-20 16:15] d10r commented on #167
this is solved by TOGA

[2022-09-20 16:15] #167 closed

[2022-09-20 16:28] d10r commented on #817
* `disableTestGovernance` flag: knowing that initial deployment of TestGovernance is ok, I suggest we leave as is and just don't set the flag for new mainnet entries until after the protocol was deployed. Can then be set in the process of the usual metadata update (resolver address etc.).
* Resolver: I don't think we should register prod governance in the Resolver. It's trivial to look it up from

[2022-09-20 16:28] #817 closed, assigned to d10r

[2022-09-20 20:06] d10r opened #1083 "[ETHEREUM-CONTRACTS] check biconomy forwardings"
Current biconomy contract addresses: https://docs.biconomy.io/misc/contract-addresses

## testnets

eth-goerli:
* is: 0x3075b4dc7085c48a14a5a39bba68f58b19545971
* should: 0xE041608922d06a4F26C0d4c27d8bCD01daf1f792
- [x] NEEDS UPDATE

polygon-mumbai:
* is: 0x9399bb24dbb5c4b782c70c2969f58716ebbd6a3b
* should: 0x9399bb24dbb5c4b782c70c2969f58716ebbd6a3b
OK
* should: 0x69015912AA33720b842dCD6aC059Ed623

[2022-09-21 07:58] #1079 closed, assigned to nobody

[2022-09-21 08:48] d10r commented on #1083
Issue: `info-show-protocol.js` is lying, it can miss events.
On polygon-mainnet for example it doesn't see that the Biconomy forwarder is set.
The tx which set it is [0x3e891fa1446bd9caf379679ccaf3c07fcf7427aa2e602e9d53a390ca876ecc32](https://dashboard.tenderly.co/tx/polygon/0x3e891fa1446bd9caf379679ccaf3c07fcf7427aa2e602e9d53a390ca876ecc32/logs) - the event `TrustedForwarderChanged` we're looking

[2022-09-21 08:51] 0xdavinchee opened #1085 "[ETHEREUM-CONTRACTS] Remove JS-SDK dependency from deployment scripts"
## Problem
Currently we are using JS-SDK in many places in the deployment scripts. This leads to a lot of issues further down the line when trying to build with Superfluid. This affects both internal testing and external testing.

## Possible Solutions
- [ ] Refactor the deployment scripts to have 0 dependency on JS-SDK and ensure this doesn't break the existing test suite and the new deployment i

[2022-09-22 09:13] hellwolf opened #1089 "[ETHEREUM-CONTRACTS] Deterministic (network-wise) Wrapped-ERC20 Super Token Address for Simpler Discoverability"
Currently the Super Token factory can help anyone to issue new Wrapped ERC20 Super Tokens any time. It hinders the discoverability, for which Superfluid Finance's resolver mechanism is a sub-optimal patchwork for this limitation.

It needs not to be so, host contract could deem canonical wrapped ERC20 (in a sense that it uses super token logic  the host provides) something uniquely available per e

[2022-09-22 09:24] 0xdavinchee opened #1090 "[SDK-CORE] Integrate Agreement Forwarder into SDK-Core"
## Summary
We recently created the `CFAv1Forwarder.sol` contract which provides an easy to use interface for `ConstantFlowAgreementV1.sol`. In addition to a nicer API for devs to interact with at the contract level when writing code, this also provides a better experience when debugging via Etherscan as you will be able to see the inputs passed instead of just `callAgreement` being called with a b

[2022-09-24 12:07] hellwolf opened #1091 "[ETHEREUM-CONTRACTS] Preparing for the potential multi-targets build distributions."
## Context

Next EVM version will likely include certain new opcodes that are not backward compatible, e.g:

- https://ethereum-magicians.org/t/eip-3855-push0-instruction/7014/2
- https://ethereum-magicians.org/t/eip-5000-muldiv-instruction/9930/3
- https://ethereum-magicians.org/t/eip-3670-eof-code-validation/6693/2
Especially MULDIV could be really beneficial for fixed-point math calculations we

[2022-09-26 09:20] hellwolf commented on #1089
Couple of quick notes per conversation:

- Need to backward support resolver listed super tokens, and a lookup-table to cement "determined" super token address would be more practical way forward than CREAET2 (which in itself will be less useful) everything.

More thoughts:

- Perhaps we could change the `createERC20Wrapper(Upgradability.NON_UPGRADABLE` semantic instead going forward, and add a ne

[2022-09-26 11:27] hellwolf commented on #1091
https://ethereum-magicians.org/t/eip-5000-muldiv-instruction/9930

[2022-09-28 10:08] surewht commented on #1090
The mr is 90% done, but the forwarder need more work, as batchCall, and delete by receiver doesn't work

[2022-09-28 10:19] 0xdavinchee opened #1093 "[ETHEREUM-CONTRACTS] Agreement Forwarder Delete Flows"
## Summary
The `_deleteFlow` logic in the CFAV1Forwarder is slightly incorrect because it only checks if the `msg.sender` is the flow sender, although both the flow sender **and** the flow receiver should have this capability.

### SDK-Core Integration Issue
I am unsure if we can batch operations created via the forwarder, so we would likely have to do some SDK magic to convert forwarder operation

[2022-09-28 14:14] hellwolf opened #1096 "[ETHEREUM-CONTRACTS] Configurable global CFA hooks."
## Notes

- the hook address (ICFAGlobalHook) is an immutable field in the CFA logic contract.
- if the hook is set, it is invoked for each create/update/delete flows.
- the hook actions are try/catched, so no danger of blocking CFA operations globally.

[2022-09-28 14:59] 0xdavinchee opened #1097 "[SUBGRAPH] `addresses.template.ts` has hardcoded Resolver and NativeAssetSuperToken"
## Summary
Resolver and NativeAssetSuperToken have hardcoded addresses in `addresses.template.ts` which is fine for live deployments, but in local testing the address can change due to new contracts being added to the deployment scripts.

We need some solution of extracting these addresses from the javascript deploy-framework script and placing them into the `ganache.json` networks config.

[code]

[2022-10-01 08:58] 0xdavinchee opened #1101 "[ETHEREUM-CONTRACTS] Unchecked for-loop increment"
A super low-hanging fruit gas optimization (originally pointed out by yAcademy) is using unchecked on the increment value and should be applied to places where we have for loops. As long as the initial value begins at zero and is only incremented by one each time, it is impossible to overflow.

This makes a lot of sense to apply because a lot of the places where we have these for loops are called

[2022-10-03 08:26] 0xdavinchee commented on #1101
Adds a tiny bit more code and saves a trivial amount of gas per iteration (30-40 gas units), but this code is hit a lot so overall gas savings over lifetime usage may be significant.

[2022-10-03 09:07] hellwolf commented on #1101
Any code samples? I thought it would make code a bit more ugly and tedious to write.

[2022-10-03 09:47] 0xdavinchee commented on #1101
[`SuperfluidToken.realtimeBalanceOf`](https://github.com/superfluid-finance/protocol-monorepo/blob/dev/packages/ethereum-contracts/contracts/superfluid/SuperfluidToken.sol#L72):

See the two instances of: `// @note CHANGE ON THIS LINE`

[code]

[2022-10-03 09:52] hellwolf commented on #1101
okay, ugly.

Alternative is to use solidity feature of user defined type for incremental, with very limited interface what it can be used for:

- unwrap back to uint256.
- unsafeInc() function for unchecked inc.

These are all type safe way for new types, and type information are eliminated during runtime hence "zero-cost abstraction"

Try something like:

[code]

[2022-10-03 10:02] 0xdavinchee commented on #1101
okay - may be a good place to start introducing user defined types

[2022-10-03 10:06] hellwolf commented on #1101
Actually it doesn't have in-place way of updating the struct value, so no way to introduce for in-place "side-effect" :D

That'd mean pure version of returning a new value. But then again, not sure if would be optimized by the compiler and make it zero-cost too.

Check it out. But do remember to turn optimizer on, no point to compare without using optimizer.  The future should still be biased towa

[2022-10-03 10:09] hellwolf commented on #1101
[code]

[2022-10-03 10:12] hellwolf commented on #1101
Ah, actually it is doable, try it out. It should be elegant type-safe way of doing it.

[2022-10-03 11:58] benjlevesque opened #1103 "[SUBGRAPH] add gasUsed property"
# Problem

The subgraph contains information about `gasPrice`, but not about `gasUsed`, which makes it harder to compute the price of the transaction.

#  Possible Solution
This [wasn't possible](https://github.com/graphprotocol/graph-node/issues/2619) until recently, but is now available on `event.receipt.gasUsed` [docs](https://thegraph.com/docs/en/developing/creating-a-subgraph/#transaction-rec

[2022-10-05 12:52] 0xdavinchee opened #1106 "[SUBGRAPH] Rewrite Subgraph Tests as Unit Tests w/ Matchstick OR Huge Refactor of Existing Tests"
## Summary
The current Subgraph tests what happens when we actually trigger contract events in a local blockchain with a local subgraph and sees how the Subgraph handles the indexing over time with the same state.

We essentially do this:
- Initialize empty state
- Modify state with known parameters
- Locally modify state in a way we expect the subgraph to modify the state => this is done by essen

[2022-10-06 12:28] 0xdavinchee opened #1110 "[SUBGRAPH] Newer Versions of graphprotocol/graph-node will break CI"
Note that the newer versions of graph node will break our build because of this issue: https://github.com/graphprotocol/graph-node/issues/4034

[2022-10-06 15:26] ngmachado opened #1111 "Unlock Integration SuperApp"
**Describe the SuperApp:**

Using Superfluid, Unlock plans to allow creators to monetize on a recurring basis, through payment streams. Users will be granted a Key if they start a stream of a certain quantity to the creator, and the Key will be revoked if the stream is interrupted.
_A clear and concise description of the SuperApp_

**Network will be deployed?:**

Polygon

**Deployer address:**

0x

[2022-10-06 19:52] d10r commented on #1111
gov action prepared in https://github.com/superfluid-finance/protocol-monorepo/actions/runs/3199395914

[2022-10-07 08:56] hellwolf commented on #1111
![image](https://user-images.githubusercontent.com/186660/194514799-526a23b9-e599-46f8-8f7a-e59a5f9a47bc.png)

[2022-10-07 08:56] #1111 closed, assigned to nobody

[2022-10-07 09:15] hellwolf commented on #1093
It's redeployed, what about resolvers @d10r ?

[2022-10-07 12:34] 0xdavinchee commented on #1106
TODOS

- [x] Figure out how to matchstick
- [x] Come up with a plan of how what the unit tests will consist of: test the different mapping functions/creation of entities
  - [x] This should be as simple as understanding what events create what entities and ensuring that this is done as expected
- [ ] Come up with a plan of how what the integration tests will consist of: test that the subgraph is p

[2022-10-08 09:38] 0xdavinchee commented on #1093
@saflamini can you help me update the docs or point me to how to update them to include the CFAv1 Forwarder address please?
The address for all networks-mainnet and testnet is: `0xcfA132E353cB4E398080B9700609bb008eceB125`

[2022-10-09 06:59] #1093 closed, assigned to 0xdavinchee

[2022-10-09 18:54] 0xdavinchee opened #1112 "[SDK-CORE] Use metadata for framework initialization"
## Overview

The `create` method in `Framework.ts` can use the metadata package to retrieve all the necessary contract addresses for initialization.
We can also consider lazy loading of the `SuperToken` class.

## Possible Solutions
### Non-Breaking
- [ ] We keep `Famework.create` as returning a promise, but when a resolver address is passed as an option or something other than v1 is passed as the

[2022-10-10 15:41] d10r commented on #1089
Combination of forward-looking and backward looking:

### forward-looking
Use CREATE2, with the address of the underlying being (part of) the nonce. By having `createERC20Wrapper` deploy that way, we implicitly add protection against duplicate deployments (deploying additional wrapping SuperTokens would require a more conscious action -> deployment of a custom SuperToken).
We should add a method f

[2022-10-11 14:10] 0xdavinchee opened #1114 "[SUBGRAPH] Add deployment workflow for Satsuma"
Probably need to modify the CI file for subgraph deployments to play nicely with Satsuma.

[2022-10-12 11:20] d10r commented on #1083
Couldn't yet figure out a way to check for invocations of `forwardBatchCall`.
The explorer tx list for the host contract (e.g. https://testnet.snowtrace.io/address/0xf04F2C525819691ed9ABD3D2B7109E1633795e68) shows only txs with the host contract as entry point.
Txs coming from other contracts are listed in the "Internal Txns" tab, but that view doesn't tell the method invoked. Even the detail view

[2022-10-13 15:29] 0xdavinchee commented on #1096
gonna close this cause this feature is merged

[2022-10-13 15:29] #1096 closed, assigned to 0xdavinchee

[2022-10-14 09:17] 0xdavinchee opened #1120 "[ETHEREUM-CONTRACTS] deploy-test-framework.ts does not work out of the box"
Had issues with using this externally (out of monorepo) because it is a TS file (doesn't like imports, missing artifacts, etc.).

These type of problems (shipping SF tools to devs) can be worked on as a joint effort between protocol/devx.

[2022-10-14 13:13] 0xdavinchee opened #1122 "[RELEASE-PROCESS] Release process could be smoother"
## Problem

The release process for ethereum-contracts and sdk-core could go a lot smoother. Many of the times we need to release SDK-Core/ethereum-contracts, etc. I run into some issues which end up blocking others and it is an uninteresting and time consuming task. The reason this occurs is that the release branches are not in sync with dev and have a different history than the dev branch as we

[2022-10-17 08:38] 0xdavinchee commented on #1122
We can scrap the PR to release branches and instead just push directly to release-branch, no information is lost as we use tags as checkpoints to see the diffs between releases.

Best solution for dealing w/ a new release w/ many changes/dependencies to pull in from dev:
1. git reset --hard dev
2. git pull
3. Fix merge conflicts

The ethereum-contracts and sdk-core stable release branches are curr

[2022-10-17 08:38] #1122 closed, assigned to nobody

[2022-10-17 09:53] 0xdavinchee commented on #1101
The savings here are so trivial (~100 per inc) I don't think this is worth bothering with, I doubt we rarely increment more than double digits.

Also, I'm not 100% sure if this is the best place to utilize user defined types. This would be a library to reduce code duplication and maintainability overhead, so we could just create a lib for uint256. Using user defined types makes the code too verbos

[2022-10-17 09:53] #1101 closed, assigned to nobody

[2022-10-17 10:00] 0xdavinchee commented on #1097
this is fixed in https://github.com/superfluid-finance/protocol-monorepo/pull/1118

[2022-10-17 10:00] 0xdavinchee commented on #1097
this is fixed in https://github.com/superfluid-finance/protocol-monorepo/pull/1118

[2022-10-17 10:00] #1097 closed, assigned to nobody

[2022-10-17 10:17] #1090 closed, assigned to 0xdavinchee

[2022-10-17 12:56] 0xdavinchee commented on #1103
@benjlevesque I tried this out following the steps listed in [here](https://thegraph.com/docs/en/developing/creating-a-subgraph/#transaction-receipts-in-event-handlers) and bumped the versions of graph-cli and graph-ts to the latest versions and even tried installing the alpha versions mentioned [here](https://github.com/graphprotocol/docs/pull/102#issuecomment-1129730794). You can checkout the li

[2022-10-17 15:02] brymut commented on #472
Hi @hellwolf / @kobuta23 might this still be available to be taken on?

[2022-10-17 19:01] kobuta23 commented on #472
The Polygon team have created a specific application for gnosis safes, visible here:
https://safe-bridge.polygon.technology/

So the bounty can be considered obsolete. Closing it

[2022-10-17 19:01] #472 closed

[2022-10-18 10:28] benjlevesque commented on #1103
sorry @0xdavinchee I didn't manage to run the superfluid subgraph (on goerli), so I can't reproduce your issue :/

did you try testing for null before accessing the  `receipt`? maybe with a log you will see what's happening...

[code]

[2022-10-18 11:10] 0xdavinchee commented on #1103
Yeah, I think this actually throws when you try to access a property that's null

[2022-10-19 08:52] 0xdavinchee commented on #1110
This should be fixed now: https://github.com/graphprotocol/graph-node/issues/4034

[2022-10-19 09:07] #1110 closed, assigned to nobody

[2022-10-19 12:55] #1114 closed, assigned to 0xdavinchee

[2022-10-19 14:12] #1112 closed, assigned to nobody

[2022-10-20 14:21] 0xdavinchee commented on #1106
## Matchstick Unit Tests

### Invariant Tests

These tests should be added as a separate describe in each of the test files, we don't need to check all the properties, but only that an entity with the id is created.

- [ ] Whenever a `Token` is created, `TokenStatistic` should be created
- [ ] Whenever `TokenStatistic` is created/updated `TokenStatisticLog` should be created
- [ ] Whenever `Stream

[2022-10-24 09:30] 0xdavinchee opened #1134 "[ETHEREUM-CONTRACTS] Scripts/Tasks"
## Summary
We would like to consolidate our deployment scripts and have a better understanding of what the purpose of each script is (categorizing it possibly) and what tools we would like to use/support for the different scripts.

Some suggestions (from others and myself):
- Separate scripts for internal use (testing, ops, gov) and external use (testing/test deployment) in terms of folder structu

[2022-10-25 07:44] 0xdavinchee commented on #1120
this issue is replaced by https://github.com/superfluid-finance/protocol-monorepo/issues/1134

[2022-10-25 07:44] #1120 closed, assigned to nobody

[2022-10-26 10:48] #1089 closed, assigned to 0xdavinchee

[2022-11-02 02:40] bfqu commented on #732
cool

[2022-11-03 12:45] d10r opened #1151 "[ETHEREUM-CONTRACTS] Brittle build process in non-virgin environment - need better "clean" script?"
My starting point: run the TOGA test, because I want to modify the contract.
This is taking place in my main copy of the monorepo, not a fresh clone.

Attempt 1:
[code]

Ok, I know. I manually deleted `typechain-types` because it made a `yarn build` fail before.
I expected it to be rebuilt by `yarn build`, but that seems to not be the case:

[code]

So, Hardhat seems to think there's nothing to be

[2022-11-04 08:09] zinderud opened #1152 "[BUG] it gives error installing fondry in different project"
When we want to install the library with getfoundry with
` forge install @superfluid-finance/ethereum-contracts `
it gives the following error

[code]

[2022-11-04 09:30] hellwolf commented on #1152
It looks like you will have to install the entire monorepo:

[code]

Feel free to send a feature request to foundry team if you think that's not ideal for your case: https://github.com/foundry-rs/foundry/issues/new?assignees=&labels=T-feature&template=FEATURE-FORM.yml

[2022-11-04 11:45] zinderud commented on #1152
thanks, that's how it worked for me

[2022-11-04 11:45] #1152 closed, assigned to nobody

[2022-11-08 10:38] ngmachado opened #1153 "CFAv1Library - Args order not intuitive"
All functions on SF follow `supertoken, sender, receiver` but the lib change this order. Would be a good clean API to follow always the same API.

https://github.com/superfluid-finance/protocol-monorepo/blob/900d7ba174bc649a1573b5c9b87f688f621fb874/packages/ethereum-contracts/contracts/apps/CFAv1Library.sol#L56

[2022-11-08 17:18] godzillaba opened #1154 "[Deployer Whitelisting Request] : StreamableCouncilNFT"
**Describe the SuperApp:**

An NFT contract that takes an incoming superfluid stream, splits it evenly, and makes outgoing streams to NFT holders. There will be a maximum of 8 holders per NFT. We will deploy multiple instances of the NFT contract.

**Network will be deployed?:**

Polygon Mainnet

**Deployer address:**

0xBFb1c7BE402eC0D289fA25db4C544718D5CF1Df2

**Link of repo of the contract to b

[2022-11-08 19:56] joeljesu opened #1155 "[Deployer Whitelisting Request] Stream Rebounder on Optimism"
**Describe the SuperApp:**

It takes a stream sent to it and sends an equal one right back to the sender.

**Network will be deployed?:**

Optimism

**Deployer address:**

0x1006f1a5a511F822047F06F2e78c24244B0d4DB5

**Factory address:**

N/A

**Link of repo of the contract to be deployed:**

https://github.com/sunnyjaycer/stream-rebounder

**Contact info for developer:**

Telegram/Twitter: @sunnyj

[2022-11-08 19:58] joeljesu opened #1156 "[Deployer Whitelisting Request] Stream Rebounder on Polygon"
Describe the SuperApp:

It takes a stream sent to it and sends an equal one right back to the sender.

Network will be deployed?:

Polygon

Deployer address:

0x1006f1a5a511F822047F06F2e78c24244B0d4DB5

Factory address:

N/A

Link of repo of the contract to be deployed:

https://github.com/sunnyjaycer/stream-rebounder

Contact info for developer:

Telegram/Twitter: @sunnyjaycer, Discord: Sunny | S

[2022-11-09 08:52] hellwolf commented on #1154
@godzillaba could you add @hellwolf @d10r @0xdavinchee @ngmachado to the repo.

[2022-11-09 22:01] godzillaba commented on #1154
i invited you all

[2022-11-09 22:21] d10r commented on #1156
reg key is "k1".

@hellwolf pls sign gov action

[2022-11-09 22:22] d10r commented on #1155
reg key is "k1".

@hellwolf pls sign gov action

[2022-11-10 09:52] hellwolf commented on #1156
done!

[2022-11-10 09:52] #1156 closed, assigned to hellwolf

[2022-11-10 09:57] hellwolf commented on #1155
done!

[2022-11-10 09:57] #1155 closed, assigned to hellwolf

[2022-11-10 14:15] d10r commented on #1154
Hi @godzillaba
I took a look at the contract, here's a few comments:

As you're likely aware of, the for-loops in [_updateOutFlow](https://github.com/telcoin/superfluid-nft/blob/master/contracts/StreamableCouncilNFT.sol#L4836) could run out of gas if there's too many tokens to be iterated over, leading to the App being [jailed](https://docs.superfluid.finance/superfluid/developers/super-apps/super

[2022-11-10 18:14] godzillaba commented on #1154
Hi @d10r
Thanks for the feedback! I just made those changes you suggested.

[2022-11-11 13:18] d10r commented on #1154
I see you put the limit at 10. Not sure if that fits the [callback gas budget of 3M](https://github.com/superfluid-finance/protocol-monorepo/blob/dev/packages/ethereum-contracts/contracts/superfluid/Superfluid.sol#L65).
Also don't make it too tight, because gas costs for the operations involved aren't constant long term, can change with protocol upgrades or even hardforks of the base protocol chan

[2022-11-11 18:04] mikeghen opened #1157 "[Deployer Whitelisting Request] Ricochet Merch Launchpad Contracts"
**Describe the SuperApp:**

REX Merch Launchpads are used to auction off REX Merch tokens similarly to how the REX Launchpad is used to auction off RIC tokens.

**Network will be deployed?:** Polygon

**Deployer address:** 0x3226C9EaC0379F04Ba2b1E1e1fcD52ac26309aeA

**Factory address:** NA

**Link of repo of the contract to be deployed:** https://github.com/Ricochet-Exchange/ricochet-protocol/tree

[2022-11-11 18:10] mikeghen commented on #1157
@0xdavinchee @d10r, hey guys, let me know if you have some time to make a key for me to use for the next few months while I deploy some launchpads.

[2022-11-14 12:19] d10r commented on #1157
@hellwolf pls sign

The registration key is "k1".
Once signed by gov, the deployer account can deploy SuperApps for 6 months (it's not one-time use anymore).

[2022-11-15 13:23] mikeghen commented on #1157
@d10r, @hellwolf, I just tried the key `k1` I think it still needs to be approved.

[2022-11-15 15:34] hellwolf commented on #1157
@mikeghen just in

![image](https://user-images.githubusercontent.com/186660/201959594-c8aa5bb7-fb22-48b3-82be-a1e654047038.png)

[2022-11-15 15:34] #1157 closed, assigned to hellwolf

[2022-11-15 15:35] mikeghen commented on #1157
awesome! thanks @hellwolf 🚰

[2022-11-15 19:18] 0xdavinchee opened #1166 "[SDK-CORE] Build Dependencies"
There is tight coupling between ethereum-contracts/sdk-core which make the experience of using these two packages quite unintuitive and unpleasant since the introduction of the scripts.
If you want to build SDK-Core in isolation, it breaks as it expects/needs ethereum-contracts to be built.

[2022-11-15 19:51] godzillaba commented on #1154
I revised the limit to 8 and made the recommended changes to `_updateOutflow`. The new work is on the `gas` branch. I have a `beforeAgreementCreated` function that doesn't seem to be getting called in my tests. I was going to add a check there that makes sure only one incoming stream can exist at a time. instead i put the check in `_updateOutflow`.

[2022-11-15 20:12] godzillaba commented on #1154
I revised the max supply to 8 and made those changes `_updateOutflow`. It seems like the `afterAgreementTerminated` callback uses about 2.7M gas when there are 8 NFTs. `afterAgreementCreated` and `afterAgreementUpdated` use less. The new work is on the `gas` branch. I used events to check gas usage in the tests which I would remove before production.

[2022-11-16 13:34] 0xdavinchee commented on #1151
resolved in https://github.com/superfluid-finance/protocol-monorepo/pull/1167

[2022-11-16 13:34] #1151 closed, assigned to nobody

[2022-11-18 15:05] kasparkallas opened #1174 "[SDK-CORE] `@nomiclabs/hardhat-ethers/types` is in published package but not specified as a dependency"
If any consumer uses tsconfig's `skipLibCheck=false` and they don't have `@nomiclabs/hardhat-ethers/types` installed themselves then it starts failing:
![image](https://user-images.githubusercontent.com/10894666/202734427-68923159-7b4f-4b0e-90a0-fda0b1bda734.png)

I think the root of the issue is the monorepo & yarn & CI set-up. As far as I can tell, when something is building in the pipeline then

[2022-11-18 19:24] codynhat opened #1177 "[Deployer Whitelisting Request]: Geo Web Beneficiary"
**Describe the SuperApp:**

The BeneficiarySuperApp is a simple super app that does two things:
1. Tracks the timestamps of when flows to it are terminated
2. Allows a designated "owner" to transfer a certain ERC-20 token from it

This super app collects funds from all network fee payments in the Geo Web. The owner will be a multisig to start that is the controller of these funds.

**Network will

[2022-11-19 09:03] 0xdavinchee commented on #68
https://delegatable.org/

[2022-11-21 09:21] hellwolf opened #1178 "[ETHEREUM-CONTRACTS] New Version of SuperTokenLibrary"
# Key Issues

- Some updated understanding of the roles and responsibilities of cfa/ida libraries and forwarders.
- Fix https://github.com/superfluid-finance/protocol-monorepo/issues/1153.

[2022-11-21 09:22] hellwolf opened #1179 "[SUBGRAPH] Add TOGA events to subgraph"
TBD...

## Notes

- Leo thinks it is convenient to have these events, ask him for more info.

[2022-11-21 09:30] hellwolf opened #1180 "[ETHEREUM-CONTRACTS] Investigate Uniswap Permit2"
## Notes

- https://uniswap.org/blog/permit2-and-universal-router

[2022-11-21 09:31] hellwolf opened #1181 "Investigate Delegatable"

[2022-11-21 09:36] hellwolf commented on #860
bunch of improvements had been done, closing it now.

[2022-11-21 09:36] #860 closed, assigned to nobody

[2022-11-21 09:51] hellwolf commented on #1091
EOF thread: https://twitter.com/lightclients/status/1593270266909450241

[2022-11-21 10:00] hellwolf commented on #792
Closing in favor of https://github.com/superfluid-finance/protocol-monorepo/issues/1134 & https://github.com/superfluid-finance/protocol-monorepo/issues/1085

[2022-11-21 10:00] #792 closed, assigned to nobody

[2022-11-21 10:01] hellwolf commented on #319
We are all etherscaners now: https://gnosisscan.io/

[2022-11-21 10:01] #319 closed

[2022-11-21 10:01] 0xdavinchee commented on #1181
Output:
- [ ] How does it work?
- [ ] Why is it relevant?
- [ ] How can we integrate it at Superfluid?
   - [ ] What does this entail in terms of a spec, ticket size, etc.?
- [ ] What other possibilities are there in general?

[2022-11-21 10:01] hellwolf commented on #478
spike: https://github.com/superfluid-finance/protocol-monorepo/issues/1181

[2022-11-21 21:11] godzillaba commented on #1154
hi @d10r , just checking in here. not trying to be pushy or anything :)

[2022-11-22 13:10] 0xdavinchee opened #1183 "[SUBGRAPH] Add flowUpdatedEvent field to `AgreementLiquidatedBy` events"
After discussions with @leopk-code, @ngmachado and @d10r , it is clear that adding a `flowUpdatedEvent` and possibly a `stream` field would be beneficial/necessary for calculating solvency response time for our solvency dashboard.

I have a sense that there will be further suggestions that come up as we try to mold the design of our entities/subgraph to aid data insight and discovery, which should

[2022-11-22 13:44] d10r commented on #1083
Example for a tx internally invoking `host.forwardBatchCall`: [0xc81b8dbf9eac2fec1f9d1e8e644991b738dfee66345e2b78be016a15ef135842](https://dashboard.tenderly.co/tx/polygon/0xc81b8dbf9eac2fec1f9d1e8e644991b738dfee66345e2b78be016a15ef135842)

This should be shown when using the "Filter Transactions" - feature of Tenderly (part of the paid plan) which allows to also select internal txs. But it doesn'

[2022-11-22 14:26] d10r commented on #1154
@hellwolf the gov action is ready to be signed.

@godzillaba thx for the reminder.
One more comment about gas: 2.7M is pretty narrow, be careful. It may actually be more on mainnet due to NFTs being minted to flow receivers on creation of new flows. That's something which could be mitigated by updating the flowrate instead of deleting and creating flows.

Once the gov action is signed (there'll be

[2022-11-22 15:45] 0xdavinchee opened #1185 "[SUBGRAPH] Automatic dev deployments and dev tests"
Problem: Catching sneaky bugs that will not appear in unit and integration tests, but will appear on live endpoints, especially if we aren't deploying the subgraph after making changes.

It would be beneficial to automatically deploy to dev endpoints whenever CI.canary subgraph tests passes.
This alone is quite useless, but including the current hourly cypress tests (currently only used for v1) fo

[2022-11-22 18:13] hellwolf commented on #1154
@godzillaba please heed to @d10r 's advice, and good luck!

![image](https://user-images.githubusercontent.com/186660/203390243-fe96e740-454b-4c3a-b7cb-d8000b0b7bc0.png)

[2022-11-22 18:13] #1154 closed, assigned to hellwolf, d10r

[2022-11-23 08:57] hellwolf opened #1186 "[ETHEREUM-CONTRACTS] Clear up Biconomy new/old forwarder status"
Following up from: https://github.com/superfluid-finance/protocol-monorepo/issues/1083

## Note

There is still some confusion around which biconomy forwarders are actually actively being used from biconomy system; it appears that the so called "old" forwarders are the ones having ongoing transactions (on matic).

[2022-11-23 12:54] d10r opened #1187 "[ETHEREUM-CONTRACTS] goerli phantom stream"
On goerli, we repeatedly get reports of an insolvent account: 0xa8551f0a686eb1eeae9a743548dc252565d0bef1

Negative accounts for token ETHx (0x5943f705abb6834cad767e6e4bb258bc48d9c947) for longer than 600 seconds outside patrician period
[
  '  acc 0xa8551f0a686eb1eeae9a743548dc252565d0bef1, availableBalance -0.22422703785984474, pppPeriod pirate, critical for 106.77472222222222 hours | [Close1](ht

[2022-11-23 14:35] d10r commented on #1083
### setting new forwarders

testnets:

- [x] eth-goerli: 0xE041608922d06a4F26C0d4c27d8bCD01daf1f792
- [x] polygon-mumbai: 0x9399bb24dbb5c4b782c70c2969f58716ebbd6a3b
- [x] polygon-mumbai: 0x69015912AA33720b842dCD6aC059Ed623F28d9f7
- [x] optimism-goerli: 0x9C73373C70F23920EA54F7883dCB1F85b162Df40
- [x] avalanche-fuji: 0x6271Ca63D30507f2Dcbf99B52787032506D75BBF

mainnets:

- [x] polygon-mainnet: 0x86

[2022-11-23 19:41] godzillaba commented on #1154
thank you!

[2022-11-23 21:19] codynhat commented on #1177
Updated to include the deployer address.

[2022-11-24 09:07] #1083 closed, assigned to hellwolf, d10r

[2022-11-24 11:46] d10r opened #1190 "[PROTOCOL-OPS] - Monitoring/reporting of governance actions"
## Status quo

governance actions are triggered via GH actions or local invocation of protocol scripts.
Relevant GH workflows:
* [handler.run-ethereum-contracts-script.yml](https://github.com/superfluid-finance/protocol-monorepo/actions/workflows/handler.run-ethereum-contracts-script.yml) - can invoke any of the [protocol scripts](https://github.com/superfluid-finance/protocol-monorepo/tree/dev/pa

[2022-11-24 12:33] d10r commented on #1177
the registration key is "k1".

@hellwolf please sign the gov action

[2022-11-25 09:12] hellwolf commented on #1177
![image](https://user-images.githubusercontent.com/186660/203943588-a2b6c91b-40f2-4850-b426-08592c8b5756.png)

good to go!

[2022-11-25 09:12] #1177 closed, assigned to hellwolf, d10r

[2022-11-30 11:32] zinderud opened #1191 "Framework.ts depended @nomiclabs is it necessary??"
I  build for application  my  app error

`Error: node_modules/@superfluid-finance/sdk-core/dist/module/Framework.d.ts:1:38 - error TS2307: Cannot find module '@nomiclabs/hardhat-ethers/types' or its corresponding type declarations.

1 import { HardhatEthersHelpers } from "@nomiclabs/hardhat-ethers/types";`

It has a dependency with nomiclabs for the javascript sdk. The dependency for the test envi

[2022-11-30 13:00] ngmachado opened #1192 "[ETHEREUM-CONTRACTS] Wiki has many TODOs"
### 9. Informational - Documentation wiki has many TODOs

The Superfluid wiki at https://github.com/superfluid-finance/protocol-monorepo/wiki contains documentation about the system. It is incomplete and has many missing paragraphs or pages. This should be fixed to make sure developers use and interface with the protocol properly.

ref: https://github.com/superfluid-finance/platform-monorepo/issue

[2022-11-30 13:04] ngmachado opened #1193 "[ETHEREUM-CONTRACTS] Non-zero allowance to Superfluid contract could lead to phishing"
### 10. Informational - Non-zero allowance to Superfluid contract could lead to phishing

Non-zero allowances, especially infinite allowances, are generally a concern for users because it implies trusting other addresses with their tokens. No concrete attack vectors were found to leverage such an allowance, but because Super Apps use a custom `flowRateAllowance` allowance system, enable custom cod

[2022-11-30 14:17] hellwolf commented on #1191
@0xdavinchee @kasparkallas thoughts?

[2022-11-30 14:25] 0xdavinchee commented on #1191
@kasparkallas created an issue to this: https://github.com/superfluid-finance/protocol-monorepo/issues/1174

[2022-11-30 18:50] zinderud commented on #1191
I am sorry . I haven't seen it opened before

[2022-11-30 18:50] #1191 closed, assigned to 0xdavinchee

[2022-11-30 21:39] hellwolf commented on #1191
not at all, thanks for flagging it.